@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LifePlus Orleans Web";
  src: url("/fonts/LifePlusOrleans-Roman-Web.woff2") format("woff2"), url("/fonts/LifePlusOrleans-Roman-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LifePlus Orleans Web";
  src: url("/fonts/LifePlusOrleans-Bold-Web.woff2") format("woff2"), url("/fonts/LifePlusOrleans-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Medium-Web.woff2') format('woff2'), url('/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-BoldItalic-Web.woff2') format('woff2'), url('/fonts/Graphik-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Bold-Web.woff2') format('woff2'), url('/fonts/Graphik-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'), url('/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Regular-Web.woff2') format('woff2'), url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Arabic Web Bold';
  src: url('/fonts/GraphikArabic-Bold-Web.woff2') format('woff2'), url('/fonts/GraphikArabic-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Arabic Web Regular';
  src: url('/fonts/GraphikArabic-Regular-Web.woff2') format('woff2'), url('/fonts/GraphikArabic-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-BoldItalic-Web.woff2') format('woff2'), url('/fonts/CanelaText-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-Bold-Web.woff2') format('woff2'), url('/fonts/CanelaText-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-MediumItalic-Web.woff2') format('woff2'), url('/fonts/CanelaText-MediumItalic-Web.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-Medium-Web.woff2') format('woff2'), url('/fonts/CanelaText-Medium-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-RegularItalic-Web.woff2') format('woff2'), url('/fonts/CanelaText-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-Regular-Web.woff2') format('woff2'), url('/fonts/CanelaText-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
