---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const { content } = Astro.props
// lg:columns-4
// lg:columns-3
---

<style>
.ccc {
  column-rule: 1px solid theme('colors.gray.300');
  column-gap: theme('spacing.10');
}

.ccc img {
  width: 100%;
}
</style>

<div class="py-12">
  <Container>
    <BlockTitle content={content} />
    <div set:html={content.content} class={`ccc prose max-w-none sm:columns-2 md:columns-3 lg:columns-${content.maxColumns} space-y-5`}></div>
  </Container>
</div>