---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const { content } = Astro.props
---

<div class="py-12">
  <Container>
    <BlockTitle content={content} />
    <div set:html={content.content} class={`prose lg:prose-lg mx-auto max-w-none w-3/4`}></div>
  </Container>
</div>