---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const key = import.meta.env.PUBLIC_APPLE_JWT
const { content } = Astro.props
---

{content.showTitle &&
  <div class="pt-10 absolute inset-x-0 top-0 z-10">
    <Container>
      <BlockTitle content={content} />
    </Container>
  </div>
}
<div class="w-full h-[24rem] md:h-[36rem] bg-brand-green" id="map-container">
</div>

<script is:inline src='https://www.bing.com/api/maps/mapcontrol?callback=mapIt' async defer></script>
<script is:inline define:vars={{ key, content }}>
window.mapIt = () => {
  console.log('bing maps loaded')
  const map = new Microsoft.Maps.Map('#map-container', {
    credentials: key,
    center: new Microsoft.Maps.Location(20, -5),
    zoom: 2,
    showLocateMeButton: false,
    showTrafficButton: false,
    showMapTypeSelector: false,
    showDashboard: false,
  });

  content.pins.forEach(pin => {
    map.entities.push(new Microsoft.Maps.Pushpin(
      new Microsoft.Maps.Location(pin.coordinates.latitude, pin.coordinates.longitude),
      {
        color: pin.pinColor ? pin.pinColor.hex : '#E30613',
        title: pin.showTitle && pin.title ? pin.title : ''
      }
    ))
  })
}
</script>
