---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const key = import.meta.env.PUBLIC_APPLE_JWT
const { content } = Astro.props
---

{content.showTitle &&
  <div class="pt-10 absolute inset-x-0 top-0 z-10">
    <Container>
      <BlockTitle content={content} />
    </Container>
  </div>
}
<div class="w-full h-[24rem] md:h-[36rem] bg-brand-green" id="map-container">
</div>

<script is:inline src='https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js'></script>
<link href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" rel="stylesheet" />
<script is:inline define:vars={{ key, content }}>
  const map = new atlas.Map('map-container', {
    authOptions: {
      authType: 'subscriptionKey',
      subscriptionKey: '1X4GubbJ5kSbrDyVia0aKKSqSpGzzn4veDwj00iVjxLSzVfZLpIqJQQJ99AIACYeBjFnB9SUAAAgAZMPnYzT',
    },
    center: [12, 20],
    zoom: 2,
    scrollZoomInteraction: false,
  })

  map.events.add('ready', function () {
    map.controls.add(new atlas.control.ZoomControl(), {
      position: 'top-right'
    })

    content.pins.forEach(pin => {
      map.markers.add(new atlas.HtmlMarker({
        position: [pin.coordinates.longitude, pin.coordinates.latitude],
        color: pin.pinColor ? pin.pinColor.hex : '#E30613',
      }))
    })
  })
</script>
