---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const { content } = Astro.props
const { columns } = content
---

<div class="py-12">
  <Container>
    <BlockTitle content={content} />
    <!-- <div class="flex flex-wrap -mx-4 divide-x divide-gray-300"> -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 -mx-4 divide-x divide-gray-300">
      {columns.map((column) => (
        // <div class="px-4 w-1/2 lg:w-1/4 pt-8 lg:pt-0">
        <div class="px-4">
          <div class="text-3xl lg:text-4xl font-bold">{column.title}</div>
          <div set:html={column.content} class="font-serif text-lg mt-6"></div>
        </div>
      ))}
    </div>
  </Container>
</div>