---
import Container from '../Container.vue'
import PersonCard from '../PersonCard.astro'
import BlockTitle from '../BlockTitle.astro'
const { content } = Astro.props
---

<style>
@media screen(sm) {
  .p:nth-child(2n) {
    border-right-width: 0;
  }
}

@media screen(md) {
  .p:nth-child(2n) {
    border-right-width: 1px;
  }

  .p:nth-child(3n) {
    border-right-width: 0;
  }
}

@media screen(lg) {
  .p:nth-child(3n) {
    border-right-width: 1px;
  }

  .p:nth-child(4n) {
    border-right-width: 0;
  }
}
</style>

<div class="pt-12 pb-20">
  <Container>
    <BlockTitle content={content} />
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 overflow-hidden -mx-4">
      {content.people.map(content => (
        <div class="p px-4 mb-10 sm:border-r border-gray-300">
          <PersonCard content={content} />
        </div>
      ))}
    </div>
  </Container>
</div>
