---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
const { content } = Astro.props
---

<div class="pt-12 pb-20">
  <Container>
    <BlockTitle content={content} />
    Stuff
  </Container>
</div>
