---
import Container from './Container.vue'
import CityTime from './CityTime.vue'
import ShareButton from './ShareButton.vue'
import ArrowUpIcon from './icons/ArrowUpIcon.vue'
import RoundButton from './RoundButton.vue'
---

<footer id="footer" class="bg-brand-base">
  <Container>
    <div class="flex justify-between">
      <div class="text-sm pt-6 pb-10 pr-4 flex flex-col justify-between">
        <div>
          <p class="mb-2">LifePlus is a trading name of LDi &copy; 2022 All rights reserved.</p>
          <div class="space-y-2 md:space-y-0 md:flex md:space-x-4 font-medium">
            <div><a href="/privacy" class="hover:underline">Privacy and cookies</a></div>
          </div>
        </div>
        <div class="md:hidden">
          <img src="/assets/globe.png" alt="A globe shaped like an apple with a bite" />
        </div>
      </div>
      <div class="flex relative">
        <div class="hidden md:flex pt-6 pb-10 pr-8 rtl:pl-8 items-start">
          <img src="/assets/globe.png" alt="A globe shaped like an apple with a bite" />
        </div>
        <div class="flex border-x border-gray-500 divide-x divide-gray-500">
          <div class="px-4 pt-6 pb-10 space-y-2">
            <CityTime client:load class="mb-1" timezone={'America/New_York'} label={'Atlanta'} />
            <CityTime client:load class="mb-1" timezone={'Asia/Shanghai'} label={'Beijing'} />
            <CityTime client:load class="mb-1" timezone={'Asia/Dubai'} label={'Dubai'} />
            <CityTime client:load timezone={'Africa/Johannesburg'} label={"Johan'burg"} />

            <div class="pt-8 lg:hidden text-brand-primary text-sm font-medium text-center">
              <div class="mb-2">Share</div>
              <ShareButton client:idle url={Astro.request.url} />
            </div>
          </div>
          <div class="px-4 pt-6 pb-10 space-y-2">
            <CityTime client:load class="mb-1" timezone={'Europe/London'} label={'London'} />
            <CityTime client:load class="mb-1" timezone={'America/Los_Angeles'} label={'Seattle'} />
            <CityTime client:load class="mb-1" timezone={'Australia/Sydney'} label={'Sydney'} />
            <CityTime client:load timezone={'Europe/Zurich'} label={'Zurich'} />

            <div class="pt-8 lg:hidden text-brand-primary text-sm font-medium text-center">
              <div class="mb-2">Top</div>
              <RoundButton class={`scroll-top`}>
                <ArrowUpIcon class="w-6 h-6 fill-current" />
              </RoundButton>
            </div>
          </div>
          <div class="hidden lg:block px-4 pt-6 pb-10 text-brand-primary text-sm font-medium text-center">
            <div class="mb-2">Share</div>
            <ShareButton client:idle url={Astro.request.url} />
          </div>
          <div class="hidden lg:block px-4 pt-6 pb-10 text-brand-primary text-sm font-medium text-center">
            <div class="mb-2">Top</div>
            <RoundButton class={`scroll-top`}>
              <ArrowUpIcon class="w-6 h-6 fill-current" />
            </RoundButton>
          </div>
        </div>
      </div>
    </div>
  </Container>
</footer>