---
import Container from './Container.vue'

---

<div id="progress" class="fixed top-0 w-full flex bg-white h-[42px] transition-all ease-in-out shadow-md">
  <Container class="flex justify-between h-full">
    <div class="flex flex-1">
      <div class="flex h-full items-center border-t border-b-[5px] border-brand-primary">
        <img class="h-6 w-auto" src="/assets/lifeplus.svg" alt="LifePlus" />
      </div>
      <div class="flex-1 w-full">
        <div id="progress-bar" class="h-full border-t border-b-[5px] transition-[width] duration-300 ease-in-out border-brand-primary"></div>
      </div>
    </div>
    <div class="flex items-center pl-4 text-gray-500">ENG</div>
  </Container>
</div>

<script type="module">
import '../scripts/progress.mjs'
</script>