---
import Container from './Container.vue'

---

<div class="fixed top-0 w-full flex bg-white h-[42px] shadow-md">
  <Container class="flex justify-between h-full">
    <div class="flex h-full items-center border-t border-b-[5px] border-brand-primary">
      <img class="h-6 w-auto" src="/assets/lifeplus.svg" alt="LifePlus" />
    </div>
    <div class="flex items-center pl-4 text-gray-500">ENG</div>
  </Container>
</div>
