---
import BaseLayout from './BaseLayout.astro'
import TopNav from '../components/TopNav.astro'
import Footer from '../components/Footer.astro'
import Progress from '../components/Progress.astro'
const { pageId, locales, locale } = Astro.props
---

<BaseLayout locale={locale}>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <div id="menu-container"></div>
  <div id="wrapper" class="bg-white text-black font-sans antialiased min-h-screen flex flex-col justify-between" data-page-id={pageId}>
    <TopNav currentId={pageId} locale={locale} />
    <main class="flex-1 relative z-0">
      <slot />
    </main>
    <Footer />
    <Progress />
  </div>
</BaseLayout>
