---
import '../styles/global.css'
---

<html lang="en" dir="ltr" class="bg-brand-base scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#FFFCE5">
  <slot name="head" />
  <!-- <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script> -->
  <script>
    // Weglot.initialize({
    //   api_key: 'wg_4d02ce0db1d55a95c986f226bff984019'
    // });

    window.lifePlusScroll = function (top) {
      window.scroll({
        behavior: 'smooth',
        left: 0,
        top: top
      });
    }
  </script>
  <script src="https://intuitive-pleasant.lifeplusworldwide.com/script.js" data-site="LCNUPIGY" defer></script>
</head>
<body>
  <slot />

  <script>
    const scrollButton = document.getElementById('scroll-button')

    if (scrollButton) {
      document.getElementById('scroll-button').addEventListener('click', function () {
        const offset = parseFloat(document.getElementById('top-nav').getAttribute('data-offset'))
        window.lifePlusScroll(document.getElementById('section-2').offsetTop + offset)
      })
    }

    document.querySelectorAll('.scroll-top').forEach((element) => {
      element.addEventListener('click', function () {
        window.lifePlusScroll(0)
      })
    })
  </script>
</body>
</html>
