---
import '../styles/global.css'
const { locale } = Astro.props
const dir = locale === 'ar' ? 'rtl' : 'ltr'
---

<html lang={locale} dir={dir} class="bg-brand-base scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#FFFCE5">
  <meta name="generator" content="Astro" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <slot name="head" />
  <script>
    window.lifePlusScroll = function (top) {
      window.scroll({
        behavior: 'smooth',
        left: 0,
        top: top
      });
    }
  </script>
  {locale == 'zh' &&
    <script is:inline>
    (function(d) {
      var config = {
        kitId: 'rxm7ild',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>}
  {locale == 'ko' &&
    <script is:inline>
    (function(d) {
      var config = {
        kitId: 'cww3ccd',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>}
  <script src="https://cdn.usefathom.com/script.js" data-site="LCNUPIGY" defer></script>
</head>
<body>
  <slot />

  <script>
    const scrollButton = document.getElementById('scroll-button')

    if (scrollButton) {
      document.getElementById('scroll-button').addEventListener('click', function () {
        const offset = parseFloat(document.getElementById('top-nav').getAttribute('data-offset'))
        window.lifePlusScroll(document.getElementById('section-2').offsetTop + offset)
      })
    }

    document.querySelectorAll('.scroll-top').forEach((element) => {
      element.addEventListener('click', function () {
        window.lifePlusScroll(0)
      })
    })
  </script>
  <slot name="footer" />
  <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
</body>
</html>
